# Ignore node_modules directory
node_modules

# Ignore built JavaScript files
dist

# Ignore environment variables
.env

# Ignore any log files
*.log

# Ignore TypeScript source map files
*.js.map

# Ignore build artifacts created by TypeScript
*.tsbuildinfo

# Ignore editor configuration files
.vscode/
.idea/

# Ignore package-lock.json
package-lock.json

# Ignore any test coverage reports
coverage/
.nyc_output/